:root{
    --red: #f9030f;
    --green: rgba(174, 215, 104, 1);
    --white: #fff;
    --black: #000;
    --grey: rgba(196, 196, 196, 1);
    --cream: rgba(245, 245, 239, 1);
    --darkcream: rgba(127, 121, 126, 1);
    --dark: rgba(101, 99, 90, 1);
    --header: #64A2AD;
    --back:  #BFCFC7;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppin' sans-serif;
  
}

.navbar{
    background: var(--header);
    height: 60px;
    padding: 0.5rem calc((100vw - 1200px)/ 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav_logo{
    color: var(--black);
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.navr_link{
color: var(--black);
text-decoration: none;
padding: 0rem 1rem;
}

.navr_link:hover{
    color: var(--darkcream);
}

@media screen and (max-width: 768px) {
    .bady.active{
     overflow-y: hidden;
     overflow-x: hidden;
        }
        .navr_link{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--black);
        display: block;
        cursor: pointer;
    }
    #mobile-menu{
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .navbar_menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
        position: absolute;
        width: 100%;
        top: -1000px;
        
    }  
    .navbar_menu.active{
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background: var(--cream);
    }
    
    
    }
.post_con{
display: flex;
flex-flow: wrap;
height: fit-content;
background-color: var(--back);
justify-content: center;

}

.post_wrapper{
display: flex;
align-items: flex-start;
padding: 1rem;
}

.posts{
    padding: 1rem;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);  
    margin: 1rem;
    flex: 200px;
    height: fit-content;
}
.preview{
    margin-top: 1rem;
}
.preview_p{
    font-size: clamp(2rem 4vw 1.5rem);
    line-height: 1.2rem;
}
#more {display: none;}

#more_2{display: none;}

#more_3{display: none;}

#more_4{display: none;}

#more_5{display: none;}
#more_6{display: none;}
#more_7{display: none;}
.mybtn{
    margin-top: 0.5rem;
}
.post_tiltle{
    font-size: clamp (4rem 7vw 5rem);
    text-transform: uppercase; 

}
.post_tiltle a{
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
}
.post_tiltle a:hover{
   color: var(--darkcream);
}
.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 2px;
}
.post_btn{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.name_post{
    text-transform: uppercase; 
    display:flex;
    justify-content: left; 
    padding-bottom: 0.5rem;
}


.post_bar{
   padding: 0.5rem calc((100vw - 1200px)/ 2);
   display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--back);
            
    }

.post_link{
   color: var(--black);
text-decoration: none;
padding: 0rem 1rem;
}
.post_link:hover{
    color: var(--darkcream);
}

.footer{
    padding: 5rem calc((100vw - 1100px)/ 2);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: var(--black);
    background: var(--header);
}

@media screen and (max-width: 1100px) {
    .post_wrapper{
        flex-direction: column;
        align-items: center;
    }
    .posts{
        width: 100%;
        margin-bottom: 1rem;
    }
}