{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}


    <!-- content start -->
    <main>
      <!-- hero start-->
      <div class="hero">
        <!-- content for the hero -->
        <div class="hero-content">
          <h1 class="hero-title">LOOPS EdTech</h1>
          <p>Unleash Your Full Potential</p>

          <a href="services.html">Learn More</a>
          <a href="registration.html">Register</a>
        </div>
      </div>
      <!-- hero end-->
      <!-- features section starts-->
      <div class="site-section">
        <div class="site-section-inside">
          <div class="section-header">
            <h2>Services</h2>
          </div>

          <div class="feature-box">
            <a href="yoga-services.html"
              ><img src="img/yoga.png" alt=" Yoga icon"
            /></a>
            <h5><a href="yoga-services.html">Courses</a></h5>
            <p>
              Yoga offers physical and mental health benefits for people of all
              ages. And, if you’re going through an illness, recovering from
              surgery or living with a chronic condition, yoga can become an
              integral part of your treatment and potentially hasten healing.
            </p>
          </div>

          <div class="feature-box">
            <a href="meditation-services.html"
              ><img src="img/meditation.png" alt="Meditation icon"
            /></a>
            <h5><a href="meditation-services.html">Roadmap</a></h5>
            <p>
              Meditation is considered a type of mind-body complementary
              medicine. Meditation can produce a deep state of relaxation and a
              tranquil mind. Meditation can give you a sense of calm, peace and
              balance that can benefit both your emotional well-being and your
              overall health.
            </p>
          </div>

          <div class="feature-box">
            <a href="healthy-services.html"
              ><img src="img/stretching.png" alt="Stretching Icon"
            /></a>
            <h5><a href="healthy-services.html">Blog</a></h5>
            <p>
              Stretching can help increase your flexibility, which is an
              important factor of fitness, but it can also improve your posture,
              reduce stress and body aches, and more. Stretching keeps the
              muscles flexible, strong, and healthy, and we need that
              flexibility to maintain a range of motion.
            </p>
          </div>

          <div class="feature-box">
            <a href="healthy-services.html"
              ><img src="img/healthy-habits.png" alt="health habits icon"
            /></a>
            <h5><a href="healthy-services.html">Learning</a></h5>
            <p>
              A healthful diet typically includes nutrient-dense foods from all
              major food groups, including lean proteins, whole grains,
              healthful fats, and fruits and vegetables of many colors.
              Healthful eating also means replacing foods that contain trans
              fats, added salt, and sugar with more nutritious options.
            </p>
          </div>
        </div>
      </div>
      <!-- features section ends-->
      <!-- about section starts -->
      <div class="site-section site-section-secondary">
        <div class="site-section-inside">
          <div class="section-header">
            <h2>About</h2>
          </div>

          <div class="aboutus-box">
            <div class="aboutus-content">
              <p> 
                The idea for our project- LOOPS, was born out of a unified ambition of providing free Education to 
all. The project is an EdTech platform for students who are interested in Computer Science and 
Information Technology, a diverse and inclusive space where students can learn and attain their 
goals and further their careers. The project aims to deliver – free, engaging and informing contents 
on technical subjects like programming, networking, cyber security etc 
              </p>
            
            </div>
          </div>
        </div>
      </div>
      <!-- example section starts -->
    </main>

    <!-- the footer -->
    {% endblock %}