<html>

<head>
  <meta charset="UTF-8" />
  <meta name="keywords" content="Yoga, Meditation, Stretching, Healthy Habits" />
  <meta name="description" content="digital wellness website" />
  <meta name="author" content="Prottay Karim" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LIFE Meditation</title>

  <!-- attach our stylesheet -->
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <!-- the header -->
  <header>
    <!-- our main logo -->
    <a id="logo" href="index.html">
      <img src="img/logo-1.png" alt="Logo" />
      <span>Life</span>
    </a>

    <!-- main navigation links -->
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="registration.html">Register</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <!-- hero start-->
    <div class="hero">
      <!-- content for the hero -->
      <div class="hero-content">
        <h1 class="hero-title">Meditation</h1>
        <p>
          When we meditate, we inject far-reaching and long-lasting benefits into our lives: We lower our stress levels, we get to know our pain, we connect better, we improve our focus, and we're kinder to ourselves. Let us walk you through the basics in our new mindful guide on how to meditate.
        </p>
      </div>
    </div>
    <div class="site-section">
      <div class="site-section-inside">
        <div class="section-header">
          <h2>Do It Yourself</h2>
        </div>

        <div class="feature-box">
          <video width="320" height="240" controls>
            <source src="img/med1.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h5>Beginner</h5>
          <p>
            New to Meditation? This session is suitable for all beginners who have not done meditation previously.
            Build your strength and confidence here to take your your practice deeper.
          </p>
        </div>

        <div class="feature-box">
          <video width="320" height="240" controls>
            <source src="img/med2.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h5>Intermediate</h5>
          <p>
            Ready for some action? This session is suitable for people who have done meditation previously.
            This is where we dive deeper into meditation and learn some effective tips to stay calm.
          </p>
        </div>

        <div class="feature-box">
          <video width="320" height="240" controls>
            <source src="img/med3.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h5><a href="healthy-services.html">Advanced</a></h5>
          <p>
            Are you a Zen Pro? This session is suitable for advanced learners who are dedicated to achieving the
            complete benefits of meditation.
            Find the calmness your mind has been looking for through this session.
          </p>
        </div>

        <div class="feature-box">
          <video width="320" height="240" controls>
            <source src="img/med4.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h5><a href="healthy-services.html">Quick session</a></h5>
          <p>
            On the go? This session will take you through a short session that you can do in a train or taxi.
            If you are short on time or need a quick calmness guide this session is for you.
          </p>
        </div>
      </div>
    </div>
    <div class="site-section site-section-secondary">
      <div class="site-section-inside">
        <div class="section-header">
          <h2>Read and follow</h2>
        </div>

        <div class="aboutus-box">
          <div class="aboutus-content">
            <p>
            <ol>
              <li> Take a seat.
                Find place to sit that feels calm and quiet to you.
              </li>


              <li>
                Set a time limit.
If you’re just beginning, it can help to choose a short time, such as five or 10 minutes.
              </li>

              <li>
                Notice your body.
You can sit in a chair with your feet on the floor, you can sit loosely cross-legged, you can kneel—all are fine. Just make sure you are stable and in a position you can stay in for a while.
              </li>

              <li>
                Feel your breath.
                Follow the sensation of your breath as it goes in and as it goes out.
              </li>
              <li>
                Notice when your mind has wandered.
Inevitably, your attention will leave the breath and wander to other places. When you get around to noticing that your mind has wandered—in a few seconds, a minute, five minutes—simply return your attention to the breath.
              </li>
              <li>
                Be kind to your wandering mind.
Don’t judge yourself or obsess over the content of the thoughts you find yourself lost in. Just come back.
              </li>
              <li>

                Close with kindness.
When you’re ready, gently lift your gaze (if your eyes are closed, open them). Take a moment and notice any sounds in the environment. Notice how your body feels right now. Notice your thoughts and emotions.
              </li>
              <li>

                That’s it! That’s the practice. You go away, you come back, and you try to do it as kindly as possible.
              </li>
             
            </ol>
            </p>
            <p>
              Wellness is often confused with terms such as health, wellbeing and happiness.
              While there are common elements among them, wellness is distinguished by not
              referring to a static state of being (i.e., being happy, in good health, or
              a state of wellbeing). Rather, wellness is associated with an active process
              of being aware and making choices that lead toward an outcome of optimal
              holistic health and wellbeing.
            </p>
            <p>
              LIFE (Living It Fully Everyday) website will manage
              stress, and lead the users down the path of becoming a more mindful and
              productive individuals.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <img src="img/logo-1.png" alt="Footer Logo" />
    <span><a href="sitemap.html">Sitemap</a><br />
      <a href="https://www.health.gov.au/resources/collections/novel-coronavirus-2019-ncov-resources"
        target="_blank">Covid-19 Resources</a><br />Copyright &copy; 2021-S3822620
    </span>
  </footer>
</body>

</html>