<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content="Yoga, Meditation, Stretching, Healthy Habits"
    />
    <meta name="description" content="digital wellness website" />
    <meta name="author" content="Prottay Karim" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIFE - Register</title>

    <!-- attach our stylesheet -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- the header -->
    <header>
      <!-- our main logo -->
      <a id="logo" href="index.html">
        <img src="img/logo-1.png" alt="Logo" />
        <span>Life</span>
      </a>

      <!-- main navigation links -->
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li>
            <a href="services.html">Services</a>
          </li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="registration.html">Register</a></li>
        </ul>
      </nav>
    </header>
  <section id="intro">
    <div class="newcontainer">
      <div class="left-col">
        <h1>Register Here for a <br> LIFE Account</h1>
        <p> Access the full range of services of LIFE. For registered members only!</p>
      </div>
      <div class="right-col">
        <div class="top-card">
          <p><span>Register for a</span> free account now!</p>
        </div>
        <div class="form-container">
          <form action="#">
            <div class="field-group">
              <label for="first-name">First Name</label>
              <input name='first-name' id="first-name" type="text" placeholder="First Name">
              
              <p class="error-text">First Name cannot be empty</p>              
            </div>
            <div class="field-group">
              <label for="last-name">Last Name</label>
              <input name='last-name' id="last-name" type="text" placeholder="Last Name">
              
              <p class="error-text">Last Name cannot be empty</p>              
            </div>
            <div class="field-group">
              <label for="Email">Email Address</label>
              <input name='Email' id="Email" value="" type="email" placeholder="Email Address">
              
              <p class="error-text">Email cannot be empty</p>              
            </div>
            <div class="field-group">
                <label for="CEmail">Confirm Email</label>
                <input name='CEmail' id="confirmEmail" value="" type="email" placeholder="Confirm Email Address">
                
                <p class="error-text">Email cannot be empty</p>              
              </div>
              <div class="field-group">
                <label for="Phone">Phone Number</label>
                <input name='Phone' id="Phone" value="" type="number" placeholder="Phone Number">
                
                <p class="error-text">Phone cannot be empty</p>              
              </div>
              <div class="field-group">
                <label for="Age">Age</label>
                <input name='Age' id="Age" value="" type="range" placeholder="Your Age">
                
                <p class="error-text">Age cannot be empty</p>              
              </div>
            <div class="field-group">
              <p>Student Status</p>
              <input name='SS' id="sstatus" value="" type="radio" placeholder="Student Status">
              <label for="sstatus">Yes</label>
              <input name='SS' id="sstatus" value="" type="radio" placeholder="Student Status">
              <label for="no">No</label>
              
              
              <p class="error-text">Student Status cannot be empty</p>              
            </div>
            <div class="field-group">
                <p>Employment Status</p>
                <label for="ES">Yes</label>
                <input name='ES' id="estatus" value="" type="radio" placeholder="Employment Status">
                <label for="ES">No</label>
                <input name='ES' id="estatus" value="" type="radio" placeholder="Employment Status">
                
                <p class="error-text">Password cannot be empty</p>              
              </div>
            <button type="submit">Register </button>
            <p class="form-footer">By clicking the button, you are agreeing to our <span>Terms and Services</span></p>
          </form>
        </div>
        
      </div>
    </div>
  </section>
  <footer>
    <img src="img/logo-1.png" alt="Footer Logo" />
    <span
      ><a href="sitemap.html">Sitemap</a><br/>
      <a href="https://www.health.gov.au/resources/collections/novel-coronavirus-2019-ncov-resources" target="_blank">Covid-19 Resources</a><br />Copyright &copy; 2021-S3822620
    </span>
  </footer>
  <script src="js/custom.js"></script>
</body>
</html>