<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content="Yoga, Meditation, Stretching, Healthy Habits"
    />
    <meta name="description" content="digital wellness website" />
    <meta name="author" content="Prottay Karim" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIFE Services</title>

    <!-- attach our stylesheet -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- the header -->
    <header>
      <!-- our main logo -->
      <a id="logo" href="index.html">
        <img src="img/logo-1.png" alt="Logo" />
        <span>Life</span>
      </a>

      <!-- main navigation links -->
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="registration.html">Register</a></li>
        </ul>
      </nav>
    </header>
    
    <main>
      <div class="services">
        <!-- content for the hero -->
        <div class="service-content">
          <img src="img/yoga.png" alt=" Yoga icon"
            />
          <h1 class="service-title">Yoga</h1>
          <p>Yoga offers physical and mental health benefits for people of all ages. And, if you’re going through an illness, recovering from surgery or living with a chronic condition, yoga can become an integral part of your treatment and potentially hasten healing.</p>
          <a href="yoga-services.html">Try Yoga</a>
        </div>
        <div class="service-content">
          <img src="img/meditation.png" alt="Meditation icon"
            />
          <h1 class="service-title">Meditation</h1>
          <p>Meditation is considered a type of mind-body complementary medicine. Meditation can produce a deep state of relaxation and a tranquil mind. Meditation can give you a sense of calm, peace and balance that can benefit both your emotional well-being and your overall health.</p>
          <a href="meditation-services.html">Try Meditation</a>
        </div>
        <div class="service-content">
          <img src="img/stretching.png" alt="Stretching Icon"
            />
          <h1 class="service-title">Stretching</h1>
          <p>Stretching can help increase your flexibility, which is an important factor of fitness, but it can also improve your posture, reduce stress and body aches, and more. Stretching keeps the muscles flexible, strong, and healthy, and we need that flexibility to maintain a range of motion.</p>
          <a href="stretching-services.html">Try Stretching</a>
        </div>
        <div class="service-content">
          <img src="img/healthy-habits.png" alt="health habits icon"
            />
          <h1 class="service-title">Healthy Habits</h1>
          <p>A healthful diet typically includes nutrient-dense foods from all major food groups, including lean proteins, whole grains, healthful fats, and fruits and vegetables of many colors. Healthful eating also means replacing foods that contain trans fats, added salt, and sugar with more nutritious options.</p>
          <a href="healthy-services.html">Try Healthy Habits</a>
        </div>
      </div>
    </main>
    <footer>
      <img src="img/logo-1.png" alt="Footer Logo" />
      <span
        ><a href="sitemap.html">Sitemap</a><br />
        <a href="https://www.health.gov.au/resources/collections/novel-coronavirus-2019-ncov-resources" target="_blank">Covid-19 Resources</a><br />Copyright &copy;
        2021-S3822620
      </span>
    </footer>
  </body>
</html>
