
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }
    
    header {
        background-color: #64A2AD;
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;
    }
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 20%;
      background-color: #93BDBF;
      overflow: auto;
      float: left;
      text-align: center;
      font-size: 25px;
    }
    
    li a {
      display: block;
      color: white;
      padding: 8px 16px;
      text-decoration: none;
    }
    
    li a.active {
      background-color: #04AA6D;
      color: white;
    }
    
    li a:hover:not(.active) {
      background-color: #64A2AD;
      color: #FBE8D9;
    }
    
    article {
        float: right;
        text-align: center;
        padding: 20px;
        width: 80%;
        background: #F1D6BC;
        font-size: 20px;  
    }
    
    footer {
        background-color: #BFCFC7;
        padding: 10px;
        text-align: center;
        color: Black;
        margin-top: auto;
    }
    
    